
#base_title
{
    text-align: center;
    color: purple;
}

body{
    font-family:'Times New Roman', Times, serif;
}

header{
    margin-top: 20px;
    margin-bottom: 50px;
}

h1 {
  color: green;
}
h2{
  color: blue;
}
h3 {
  color: pink;
}
h4 {
  color: #FF8F00;
}

form{
    display:flex;
    flex-direction: column;
}

#log_bloc_connection
{
    display: flex;
    gap: 12em;
    margin-left: 33em;
}

log_block_registr
{
margin-left: 0em;
}

log_bloc_login
{
margin-left: 50em;
}

#log_btn_inscr
{
margin-left: 5em;
width: 120px;
height: 25px;
border-radius: 7px

}
#log_btn_connect
{
margin-left: 20em;
margin-top: 2em;
width: 120px;
height: 25px;
border-radius: 7px
}
s

#reg_title_inscr
{
margin-left: 9em;
}
/* comment*/
#reg_bloc_inscription
{
    margin-left: 37em;
}

#reg_btn_retour
{
margin-left: 15em;
margin-top: 2em;
width: 80px;
height: 25px;
border-radius: 7px
}

#reg_btn_inscr
{
margin-left: 2em;
margin-top: 0em;
width: 80px;
height: 25px;
border-radius: 7px
}

.review_form_headline
{
color: pink;
}

.review_form_body{
    margin-left: 40px;
    background-color: blue;
    color: red;
}

.review_form_rating{
    display: flex;
    width: 70%;
    list-style-type: None;
    letter-spacing:6rem;
    margin-left:calc( 15% - 25%);
    justify-content: space-around;
    opacity: 1;
    color:  purple;
    text-align: left;
}

.review_form_mess{
text-orientation: inherit;
}

.review_form_btn{
position: absolute;
top: 900px; left: 550px;
}

.idAbonnTitre1, .idAbonnTitre2, .idAbonnTitre3{
text-align: center;
font-size:30px;
color: green;
}

.cl_abonn_desabonnement, .cl_abonn_liste_abonne{
margin:auto;
}

.cl_abonn_abonner{
margin:auto;
}
.cl_abonn_user{
position:relative;
top:36px
}

.cl_list_abonn{
position:relative;
top:39px
}
.cl_bouton_desabonner{
position:relative;
left:820px
}

.cl_abonn_bouton_envoyer2{
position:relative;
left:300px
}

.cl_abonn_follow_list{
display:block;
height: 20px;
width: 600px;
text-align: center;
}

.abonn_abonne{
display:block;
height: 20px;
width: 800px;
text-align: center;
block:center;
border: 1px solid black;
}

.cl_bouton_desabonner{
border: 1px solid black;
padding: 3px;
}


.cl_ticket_titre{
margin: auto;
text-align: center;
position:relative;
top:90
}

.cl_ticket_form_title{
margin: auto;
text-align: center;
display:block;
height: 20px;
width: 800px;
position: relative;
top:0

}

.cl_ticket_form_description{
margin: auto;
display:block;
height: 200px;
width: 800px;
position: relative;
top:20
}

.cl_ticket_description{
margin: center;
text-align: left;

position: relative;
top:135;
left:700;
}

.cl_ticket_image{
position:relative;
top:300;
left:10;
}

.cl_ticket_btn_envoi{
display:block;
height: 20px;
width: 80px;
position:relative;
left:70%;
}

.cl_posts_divP1{position: relative; top: 15px; left: 0px; right: 0px; width: 200px; border: 4px solid purple;
text-align: left; width:950px;height:925px; padding-top:0px; padding-right:80px; padding-bottom:0px; padding-left:0px
}

.cl_posts_divP2{
position: relative; top: 0px; left: 0px;right:50px;width: 200px; border: 2px solid black; text-align: left;
width:930px;height:530px; padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:100px
}

.cl_posts_divP3{
position: relative; top: 0px; left: 0px; width: 200px; border: 5px solid IndianRed; text-align: left;
width:1030px;height:640px; padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px
}

.cl_posts_divP1_1{position: relative; top: 0px; left: 50px; right:50px; width: 200px; border: 2px solid green;
text-align: left; width:800px;height:510px; padding-top:0px; padding-right:0px; padding-bottom:60px; padding-left:100px
}

.cl_posts_divP1_2{position: relative; top: 0px; left: 50px;right:50px; width: 200px; border: 2px solid pink;
text-align: left; width:800px;height:560px; padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:100px
}

.cl_posts_delete_review, .cl_posts_delete_ticket, .cl_posts_update_ticket, .cl_posts_update_review {
border: 1px solid black; border-radius: 5px; padding: 0px 50px 5px
}
