

#base_title
{
    text-align: center;
    color: purple
}

h1, h2, h3 {
  color: Blue;
}

#log_bloc_connection
{
    display: flex;
    gap: 12em;
    margin-left: 33em;
}

log_block_registr
{
margin-left: 0em;
}

log_bloc_login
{
margin-left: 50em;
}

#log_btn_inscr
{
margin-left: 5em;
width: 120px;
height: 25px;
border-radius: 7px

}
#log_btn_connect
{
margin-left: 20em;
margin-top: 2em;
width: 120px;
height: 25px;
border-radius: 7px
}
s

#reg_title_inscr
{
margin-left: 9em;
}
/* comment*/
#reg_bloc_inscription
{
    margin-left: 37em;
}

#reg_btn_retour
{
margin-left: 15em;
margin-top: 2em;
width: 80px;
height: 25px;
border-radius: 7px
}

#reg_btn_inscr
{
margin-left: 2em;
margin-top: 0em;
width: 80px;
height: 25px;
border-radius: 7px
}

.review_form_headline
{
color: green;
}


.review_form_body{
    margin-left: 40px;
    background-color: yellow;
    color: red;

}

.review_form_rating{
    display: flex;
    width: 70%;
    list-style-type: None;
    letter-spacing:6rem;
    margin-left:calc( 15% - 25%);
    justify-content: space-around;
    opacity: 1;
    color:  purple;
    text-align: left;
}

.review_form_mess{
text-orientation: inherit;
}

.review_form_btn{
position: absolute;
top: 900px; left: 550px;
}
