{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href=" {% static 'app_crit/styles.css' %} ">

    {% if title%}
        <title>LITReviewcc - {{ title }}</title>
    {% else %}
        <title>LITReviewxx</title>
    {% endif %}
</head>
<body>
    <header>
        <h1 id="mainTitle">LITReview..</h1>

        <nav>
        {% if user.is_authenticated %}
        <div id="nav__username">Utilisateur connecté : {{ user.username }}
            <div id="header_menu">



                <a id="nav__logout" href="{% url 'logout' %}">Se déconnecter</a>
                {% endif %}
            </div>
        </div>
        </nav>
    </header>

    <section class="mainSection">
    {% if messages %}
       {% for message in messages %}
        {{message}}
       {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}
    </section>
</body>
