{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="post" enctype="multipart/form-data">

    <div class="cl_flux_btn_crit">
 <br>
    <span style="border: 1px solid black; padding: 10px 50px 15px;width:150px; position: relative; top: 0px; left: 170px; right: 500px;border-radius: 5px;"> <a href="{% url 'creatTicket' %}"> Demander une critique </a></span>

    <span style="border: 1px solid black; padding: 10px 50px 15px;width:150px;position: relative; top: 0px; left: 400px; right: 500px;border-radius: 5px; "> <a href="{% url 'creatTicketReview' %}">Créer une critique</a></span>
<br>
        </div>
    <br><br><br>

{% for instance in tickets_and_reviews %} <!-- boucle 1 pour tester tous les Reviews et tickets -->
    {% for instReview_user in reviews_user %} <!-- boucle pour tester tous les Reviews de l'utilisateur -->
        {% if instance.id == instReview_user.id %}
            <div class="cl_flux_divP1" style="  position: relative; top: 15px; left: 0px; right: 0px;
                                                            width: 200px; border: 4px solid purple;
                                                            text-align: left; width:950px;height:780px;
                        padding-top:0px; padding-right:80px; padding-bottom:0px; padding-left:0px">
            <p style="color:purple; font-size:25px">Vous avez publié une critique  {{instReview_user.id}} </p>
            <p>{{instReview_user.time_created}}</p>
            <p> Rating : {{instReview_user.rating}}</p>
             {% include "extrait/extr_rating_stars2.html" with rating=instReview_user.rating list_for_max_star=list_for_max_star  %}
            <p> headline : {{instReview_user.headline}}</p>
            <p> ticket : {{instReview_user.ticket.id}} </p>
            {% for inst_tickets_all_user in tickets_all_user %}
                {% if instReview_user.ticket.id == inst_tickets_all_user.id %}
                    <div class="cl_flux_divP1" style="  position: relative; top: 15px; left: 20px; right: 0px;
                                                            width: 200px; border: 4px solid green;
                                                            text-align: left; width:850px;height:480px;
                        padding-top:0px; padding-right:80px; padding-bottom:0px; padding-left:30px">
                     <p style="color:green; font-size:20px"> ticket trouvé : {{instReview_user.ticket.id}}</p>
                     <p> ticket time_created: {{instReview_user.ticket.time_created}}</p>
                     <p> ticket titre : {{instReview_user.ticket.title}}</p>
                     <p> ticket description : {{instReview_user.ticket.description}}</p>
                     {% if instReview_user.ticket.image.url is not None %}
                        <img src="{{ instReview_user.ticket.image.url }}" width="200" height="300">
                     {% else %}
                        <img src="{% static 'img/NoImgOtherUser.gif' %}"  alt="pas d'image" width="200" height="300">
                     {% endif %}

                    </div>
            </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% for instReviews_other_user in reviews_other_user %} <!-- boucle pour les Reviews autres utilisateurs -->
         {% if instance.id == instReviews_other_user.id %}
             {% if instReviews_other_user.user in listUserFollow  %}
            <div class="cl_flux_divP2" style="  position: relative; top: 15px; left: 0px; right: 0px;
                                                            width: 200px; border: 4px solid #076973;
                                                            text-align: left; width:950px;height:750px;
                        padding-top:0px; padding-right:80px; padding-bottom:0px; padding-left:0px">
            <p style="color:076973; font-size:20px"> {{instReviews_other_user.user}} a posté la review {{instReviews_other_user.id}} </p>
            <p>{{instReviews_other_user.time_created}}</p>
            <p> Rating : {{instReviews_other_user.rating}}</p>
             {% include "extrait/extr_rating_stars2.html" with rating=instReviews_other_user.rating list_for_max_star=list_for_max_star  %}
            <p> headline : {{instReviews_other_user.headline}}</p>
            <p> ticket : {{instReviews_other_user.ticket.id}}</p>
             {% for inst_tickets_all_user in tickets_all_user %}
                {% if instReviews_other_user.ticket.id == inst_tickets_all_user.id %}
                     <p> ticket trouvé : {{instReviews_other_user.ticket.id}}</p>
                     <p> ticket time_created : {{instReviews_other_user.ticket.time_created}}</p>
                     <p> ticket titre : {{instReviews_other_user.ticket.title}}</p>
                     <p> ticket description : {{instReviews_other_user.ticket.description}}</p>

                     {% if instReviews_other_user.ticket.image.url is not None %}
                        <img src="{{ instReviews_other_user.ticket.image.url }}" width="200" height="300">
                      {% else %}
                         <img src="{% static 'img/NoImgOtherUser.gif' %}"  alt="pas d'image" width="200" height="300">
                     {% endif %}

            </div>
                {% endif %}
             {% endfor %}
            {% endif %}
          {% endif %}
    {% endfor %}

    {% for inst_ticket_other_user_whithout_review in ticket_other_user_whithout_review %}
             {% if inst_ticket_other_user_whithout_review.id == instance.id  %}
                 {% if inst_ticket_other_user_whithout_review.user in listTicketOtherUserFollowed  %}
                        <div class="cl_divP3" style="  position: relative; top: 15px; left: 0px; right: 0px;
                                                            width: 200px; border: 4px solid blue;
                                                            text-align: left; width:950px;height:520px;
                        padding-top:0px; padding-right:80px; padding-bottom:0px; padding-left:0px">
                        <p style="color:blue; font-size:20px"> {{inst_ticket_other_user_whithout_review.user}} a demandé une critique  : {{inst_ticket_other_user_whithout_review.id}} </p>
                        <p> ticket time_created : {{inst_ticket_other_user_whithout_review.time_created}}</p>
                        <p> ticket titre : {{inst_ticket_other_user_whithout_review.title}}</p>
                        <p> ticket description : {{inst_ticket_other_user_whithout_review.description}}</p>
                        {% if inst_ticket_other_user_whithout_review.image.url is not None %}
                           <img src="{{ inst_ticket_other_user_whithout_review.image.url }}" width="200" height="300">
                        {% else %}
                           <img src="{% static 'img/NoImgOtherUser.gif' %}"  alt="pas d'image" width="200" height="300">
                        {% endif %}
                        <br><br>
                        <span style="border: 1px solid black; padding: 0px 50px 5px;width:10px; position: relative; top: 0px; left: 5px; right: 500px;border-radius: 5px;" ><a href="{% url 'creatReview' inst_ticket_other_user_whithout_review.id %}" style="border-width:2px; ">Créer une critique</a></span>
                        </div>
                {% endif %}
             {% endif %}
    {% endfor %}
{% endfor %}
</form>
{% endblock content %}

