{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">

    <!--
    {% for instTicketOther in tickets_other_user %}
        <p> tickets_other_user id : {{ instTicketOther.id }}</p>
    {% endfor %}
    -->

    <p> <h3>allReviews :  {{ allReviews }} </h3>  </p>
    <p> <h3>listTicketInReviews_user :  {{ listTicketInReviews_user }} </h3>  </p>
    <p> <h3>listTicketInTicket_user_html :  {{ listTicketInTicket_user_pour_html }} </h3>  </p>
    <p> <h3>listTicketWithoutReviews_user :  {{ listTicketWithoutReviews_user }} </h3>  </p>

    <p> la liste listTicketWithoutReviews_user, indique quel tickets seront à afficher sans Review </p>


{% for instance in tickets_and_reviews %}
     {% for instReview in reviews_user %}
        <div class="cl_post_review">
            <p> Review : {{ instReview }} <h2/> REVIEW {{ instReview.id }} </h2> </p>
            <p>Vous avez publié une critique</p>
            <p> time created : {{ instReview.time_created }}</p>
            <p> ticket : {{ instReview.ticket.id }}</p>
            <p> rating : {{ instReview.rating }}</p>
            <p> headline : {{ instReview.headline }}</p>
            <p> body : {{ instReview.body }}</p>
            <p> ------------------------Review------------------------------</p>

            <p> n° TICKET REVIEW : {{ instReview.ticket.id }}</p>
            {% for instTicketOther in tickets_other_user %}
            <!-- <p> TICKET AUTRE UTILISATEUR : {{ instTicketOther.id }}</p> -->

            <!-- si le ticket du review = le ticket de l'utilisateur, afficher les données de l'autre utilisateur
            à la suite-->
                {% if instReview.ticket.id == instTicketOther.id %}
                    <p> REVIEW avec TICKET AUTRE UTILISATEUR n° ticket : {{ instReview.ticket.id }}</p>
                    <p> <h3>instTicket.user :  {{ instTicketOther.user }} </h3>  </p>
                    <p> <h3>instTicket.id :  {{ instTicketOther.id }} </h3>  </p>
                    <p> Identifiant Unique : {{ instTicketOther.id }}</p>
                    <p> Titre Ticket : {{ instTicketOther.title }}</p>
                    <p> Description Ticket : {{ instTicketOther.title }}</p>

                    {% if instTicketOther.image.url is not None %}
                        <img src="{{ instTicketOther.image.url }}">
                    {% endif %}


                {% endif %}
             {% endfor %}
            <br>
                     <a href="{% url 'review_update' instReview.id %}">[Modifier Review]</a>
                    <br>
                    <a href="{% url 'review_delete' instReview.id %}">[Supprimer Review]</a>
            <p> **************** FIN REVIEW + TICKET AVEC AUTRE UTILISATEUR CREATEUR DU TICKET ****************</p>

     <!-- Les critiques qui sont affichées en réponse au ticket de l'utilisateur lui-même doivent être
     listées séparément du ticket-->

             {% for instTicket in tickets_user %}
                     <!-- <p> instTicket.id : {{ instTicket.id }}</p>-->
                    {% if instReview.ticket.id == instTicket.id %}
                        <p> <h3>instTicket.id :  {{ instTicket.id }} </h3>  </p>
                        <p> <h3>instTicket.user :  {{ instTicket.user }} </h3>  </p>
                        <p> Identifiant Unique : {{ instTicket.id }}</p>
                        <p> Titre Ticket : {{ instTicket.title }}</p>
                        <p> Description Ticket : {{ instTicket.title }}</p>

                        {% if instTicket.image.url is not None %}
                            <img src="{{ instTicket.image.url }}">
                        {% endif %}
                    <br>
                    <a href="{% url 'ticket_update' instTicket.id %}">[Modifier ticket]</a>
                    <br>
                    <a href="{% url 'ticket_delete' instTicket.id %}">[Supprimer ticket]</a>
                <p> **************** FIN REVIEW + TICKET AVEC MEME UTILISATEUR EN CREATEUR DU TICKET ****************</p>

                    {% endif %}
            {% endfor %}
    {% endfor %}

<p> **************************************</p>
<p> **************************************</p>
<p> **************************************</p>

       {% for i in listTicketWithoutReviews_user %}
              {% if instance.id == i %}
                 <p> instance.ID =  i , ticket de soi-même à afficher seul car pas de Review pour le ticket </p>

                {% for instTicket in tickets_user %}
                    {% if instance.id == instTicket.id %}
                        <p>{{ instTicket.id }}</p>
                        <p>{{ instTicket.time_created  }}</p>
                        <p> Titre {{ instTicket.title }}</p>
                        <p>{{ instTicket.description }}</p>
                        {% if instTicket.image.url is not None %}
                            <img src="{{ instTicket.image.url }}">
                        {% endif %}
                    {% endif %}
                {% endfor %}
              {% endif %}
       {% endfor %}

<p> **************************************</p>
<p> **************************************</p>
<p> **************************************</p>
</div>

{% endfor %}

</form>

{% endblock %}


