{% extends 'base.html' %}

{% block content %}
<form method="post">
<div class="cl_post_review">
    {% for x in reviews_user %}
    <div class="review_information">
        <p>{{ x }}</p>
        <p>{{ x.time_created }}</p>
        <p>{{ x.id }}</p>
        <h3> {{ x.ticket }}</h3>
        <p>{{ x.rating }}</p>
        <p>{{ x.user }}</p>
        <p>{{ x.headline }}</p>
        <p>{{ x.body }}</p>
        </div>
        <a href="{% url 'review_delete' x.id %}">Supprimer</a>
        <a href="{% url 'review_update' x.id %}">[Modifier]</a>
    </div>
    {% endfor %}
</div>

<div class="cl_post_ticket">
    {% for x in tickets_user %}
    <div class="ticket_information">
        <p>{{ x }}</p>
        <p>{{ x.time_created }}</p>
        <p>{{ x.id }}</p>
        <h3> {{ x.title }}</h3>
        <p>{{ x.user }}</p>
        <p>{{ x.image }}</p>
        <button type="submit" class="cl_post_ticket_bouton_modifier" name=name_post_ticket_bouton_modifier" = >Modifier</button>
        <button type="submit" class="cl_post_ticket_bouton_supprimer" name= "name_post_ticket_bouton_supprimer" =>Supprimer</button>
    </div>
    </form>
    {% endfor %}
</div>



{% endblock %}


