{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
<div class="cl_post_review">

    {% for x in reviews_user %}
    <div class="review_information">
        <p> Review : {{ x }}</p>
        <p> Review date création : {{ x.time_created }}</p>
        <p> Identifiant Unique : {{ x.id }}</p>
        <h3> Ticket associé : {{ x.ticket }}</h3>
        <p> Note attribuée : {{ x.rating }}</p>
        <p> Utilisateur : {{ x.user }}</p>
        <p> Entête : {{ x.headline }}</p>
        <p> Contenu : {{ x.body }}</p>
        </div>
        <br>
        <a href="{% url 'review_update' x.id %}">[Modifier]</a>
        <br>
        <a href="{% url 'review_delete' x.id %}">[Supprimer]</a>
    </div>
    {% endfor %}
</div>

<div class="cl_post_ticket">
    {% for x in tickets_user %}
    <div class="ticket_information">
        <p>Ticket : {{ x }}</p>
        <p> Ticket date création : {{ x.time_created }}</p>
        <p> Identifiant Unique : {{ x.id }}</p>
        <h3> Titre Ticket {{ x.title }}</h3>
        <p> Utlisateur : {{ x.user }}</p>

        <p> Imagexx : {{x.image |lower }}</p>
         {% if x.image.url is not None %}
            <img src="{{ x.image.url }}">
         {% endif %}



        <br>
        <a href="{% url 'ticket_update' x.id %}">[Modifier]</a>
        <br>
        <a href="{% url 'ticket_delete' x.id %}">[Supprimer]</a>

    </div>
    {% endfor %}
</div>
</form>





{% endblock %}


