{% extends 'base.html' %}
{% block content %}

    <h2>Modification Review {{ reviewTicket }}</h2>
    <form action="" method="post"> {% csrf_token %}
        <p> Rating récupéré de l'enregistrement : {{ reviewRating }}</p>
        <p> headline récupéré de l'enregistrement : {{ reviewHeadline }}</p>
        <p> body récupéré de l'enregistrement : {{ reviewBody }}</p>
        <p> rating récupéré de l'enregistrement 0 : {{ reviewRating_0 }}</p>
        <p> rating récupéré de l'enregistrement 1 : {{ reviewRating_1 }}</p>
        <p> rating récupéré de l'enregistrement 2 : {{ reviewRating_2 }}</p>
        <p> rating récupéré de l'enregistrement 3 : {{ reviewRating_3 }}</p>
        <p> rating récupéré de l'enregistrement 4 : {{ reviewRating_4 }}</p>
        <p> rating récupéré de l'enregistrement 5 : {{ reviewRating_5 }}</p>



        <select>
            <option value="1" >Option 1</option>
            <option value="2">Option 2</option>
            <option value="3" selected>Option 3</option>
            <option value="4">Option 4</option>
        </select>

        <div>
          <input type="radio" id="id_rating_test" name="Rating" value=True checked>
          <label for="id_rating_test">reviewRating test</label>
        </div>

        <div>
          <input type="radio" id="id_rating" name="Rating" value=reviewRating_1 checked>
          <label for="id_rating">Rating 1</label>
        </div>
        <div>
          <input type="radio" id="id_rating" name="Rating" value=reviewRating_2 checked>
          <label for="id_rating">Rating 2</label>
        </div>
        <div>
          <input type="radio" id="id_rating" name="Rating" value=reviewRating_3 checked>
          <label for="id_rating">Rating 3</label>
        </div>
        <div>
          <input type="radio" id="id_rating" name="Rating" value=reviewRating_4 checked>
          <label for="id_rating">Rating 4</label>
        </div>
        <div>
          <input type="radio" id="id_rating" name="Rating" value=reviewRating_5 checked>
          <label for="id_rating">Rating 5</label>
        </div>

        {{ form.as_p }}
        <input type="submit"> value="Envoyer">
    </form>

{% endblock content %}






