    <div class="cl_ticket_body_titre_descr">
    {% csrf_token %}

    <div class="cl_creat_review_title">
        <input name="title" type="text" required id="id_title" class="cl_ticket_title_input" value="{{ ticket.title }}">
    </div>

    <div class="cl_creat_review_descr">
    <textarea name="description" id="id_description" class="cl_ticket_descritpion" style="height:200px;">{{ ticket.description }}</textarea>
    </div>

    <div class="cl_creat_review_img">
    <label class="form-label">Image</label>
    <input class="form-control" type="file" id="id_image" name="image" accept="image/*" onchange="loadFile(event)" style="display: none;">
    <img id="preview-img"/>
    <label for="id_image" class="cl_tr_ticket_image"> <span class="cl_tr_ticket_image x"> [Télécharger fichier] <span/>  </label>
    </div>



