{% block content %}



<!--
<h5> objet recup views : {{ obj_recup }}</h5>

 <option value selected>Nom d'utilisateur</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
-->

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--
    <select name="pets" id="pet-select">
    <option value="">--La seule option autorisée est l'utilisateur connecté--</option>
        <option value="{{ user.id }}">{{ user.username }}</option>

        <option <input name="user" type="hidden" required id="id_user" class="form-control" value="{{ user.id }}"></option>

        <option value="dog">Dog</option>
    </select>

    <select > </select>
    <option value selected>Nom d'utilisateur connecté</option>
-->

    <h4> User : {{ obj_recup_01 }}<h4>
    <h4> {{ obj_recup_02 }}<h4>
    {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}

    {{ form.as_p }}
    <button type="submit" class="cl_bouton_envoyer" name="name_bouton_envoyer"> ENVOYER (creat Follows)</button>
{% endblock %}

