{% load widget_tweaks %}

{% block header_page %}
<div class="header_page">
    <span class="header_page__title">Review</span>
</div>
<!--
<style type="text/css">
    review_form_radio{
    display: flex;
}
</style>
-->
{% endblock %}


{% block content %}

<h3 class="review_form_mess"> {{message}} template  extrReview</h3>


<h3> {{reviews_to_my_tickets}} </h3>

{% for X in reviews_to_my_tickets %}
        {{X}}
        <h1>xxxxxxxxxxxxxxxxxy template  CreatTicketReview</h1>
{% endfor %}

<div class="review_body">

<form method="post" enctype="multipart/form-data" id="creat_review">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="review_form_btn"> ENVOYER template  extrReview </button>


</form>
</div>
{% endblock %}
