{% extends "base.html" %}
{% block content %}
<h2>Connectez-vous </h2>
<div>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger">{{ error }} </p>

            {% endfor %}
        {% endif %}
        <table>
        {% for field in form %}
          <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
          </tr>

        {% endfor %}
         </table>
        <button type="submit">se connecter</button>
    </form>
</div>

<div>
    <small>
        <div>
        Inscrivez-vous maintenant
            </div>
        <a href="{% url 'register' %}" >
        <button type="submit">s'inscrire </button

        </a>
    <br>
        <!--
        Mot de passe oublié ?
        <a href="#">
            Renouveler mon mot de passe
        </a>
        -->
    </small>
</div>
{% endblock %}
