{% extends "base.html" %}

{% block content %}

<section id="reg_bloc_inscription">

    <h2 id="reg_title_inscr">Inscrivez-vous</h2>
    <form method="post" >
        {% csrf_token %}

        <table>
        {% for field in form %}
          <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
          </tr>
          {% for error in field.errors %}
            <tr><td></td><td class="alert alert-danger">{{ error }}</td></tr>
            {% endfor %}
          {% endfor %}
         </table>

     <button onclick="location.href='{% url 'login' %}'" id="reg_btn_retour">Retour</button>
        <button type="submit" id="reg_btn_inscr">S'inscrire</button>
        </form>
    <!--
    <div>
    <small >
         Déjà inscrit.e?
        <a href="{% url 'login' %}">
        <button type="submit" id="reg_btn_retour2">Retourner </button>
            </a>
    </small>
    </div>
    -->
</section>
{% endblock %}
